/* 할 일 입력란 + 일자 선택 + 추가하기 버튼 */
#add-task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  row-gap: 8px;
  column-gap: 10px;
  padding: 3px;
}

/* 할 일 입력란 */
#add-task > input[type="text"] {
  height: 35px;
  flex: 1 1 150px;
  border: 0px;
  border-left: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 3px 0px;
}

/* 일자 선택 */
#add-task > input[type="date"] {
  border: 0px;
  height: 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 3px 0px;
}

#add-task > input::placeholder {
  color: var(--color-text);
}

/* 추가하기 버튼 */
#add-task > input[type="button"] {
  background-color: var(--color-add-button);
  border: 1px solid var(--color-add-button);
  color: var(--color-button-text);
  border-radius: 20px;
  width: 95px;
  height: 35px;
  margin-left: auto;
  box-shadow: var(--shadow);
  font-size: 19px;
  font-weight: bold;
}

#add-task > input[type="button"]:hover,
#add-task > input[type="button"]:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--color-add-button);
}

main hr {
  border: 1px solid var(--color-nav-text);
  margin-top: 20px;
  margin-bottom: 15px;
}

/* 태그 목록 */
.tag-conf {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-conf > p {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

#createTag {
  width: 85px;
  height: 25px;
  border: 0px;
  margin-right: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 3px 0px;
}

#createTag::placeholder {
  font-size: 0.6rem;
  font-style: italic;
  color: var(--color-text);
}

:is(#addTag, #deleteTag) {
  font-size: 0.7rem;
  color: var(--color-button-text);
  height: 22px;
  width: 55px;
  font-weight: bold;
  background-color: var(--color-tag-button);
  box-shadow: var(--shadow);
  margin-right: 3px;
  border: 1px solid var(--color-tag-button);
  border-radius: 30px;
}

:is(#addTag, #deleteTag):hover,
:is(#addTag, #deleteTag):active {
  border: 1px solid var(--color-tag-button);
  background-color: initial;
  color: var(--color-tag-button);
}
