/* 진행중 및 완료 목록 section */
.todo_list ul {
  margin-top: 3px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0px;
  padding-left: 3px;
  overflow-y: hidden;
  transition: 0.6s all;
}

.task-label {
  display: flex;
  flex: 1 1 auto;
  height: 90%;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
}

/* 진행중, 완료 목록 (공통) */
:is(.ongoing, .completed) h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

:is(.ongoing, .completed) > header {
  flex: 1 1 100%;
}

/* 각 할일 목록 */
.todo_list .task {
  flex: 1 0 100%;
  display: flex;
  position: relative;
  height: 31px;
  align-items: center;
  overflow-y: hidden;
}

.task-title {
  display: inline-block;
  width: 100%;
}

.extra {
  display: flex;
  flex: 0 0 100px;
  height: 100%;
  position: relative;
  align-items: center;
  overflow: hidden;
}

/* 만료일 표시 */
.extra > label {
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  height: 100%;
  font-size: 0.6rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.extra input[type="date"] {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 60%;
  height: 100%;
  border: 0;
  opacity: 0;
}

/* x 버튼 */
.close {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 83, 83);
  font-size: 1rem;
  border: 0px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.6s all;
}

.close:hover {
  color: rgb(255, 0, 0);
  font-weight: bold;
  transition: 0.6s all;
}

/* 태그 검색 결과 필터링된 할일 목록 */
.task.filtered {
  height: 0px;
}